@import "../../base/common.scss";

// .avatar {
//   width: 32rem;
//   height: 32rem;
//   border-radius: 50%;
//   background-color: $primary;
//   margin-right: 9rem;
//   flex-shrink: 0;
// }

.avatar {
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  background-color: $pale;
  margin-right: 8rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $whitesmoke;

  .default_profile {
    width: 60rem;
    height: 60rem;
    resize: both;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(4rem);
  }
}
