@use "../../base/common.scss" as *;

@mixin font ($size,$weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

.modal{
  height: 100vh;
  max-width: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .background{
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #2525257d;
    z-index: 1111;
  }
  .c-contents{
    background-color: white;
    width: 80%;
    height: 22vh;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border-radius: 1.5vh;
    z-index: 1112;
    .alarm{
      @include font(18px, 600, black);
      margin-top: 2vh;
    }
    .question{
      @include font(14px, 500, #4C4C4C);
      margin-top: 1vh;
    }
    .buttonbox{
      display: flex;
      justify-content: space-between;
      .discard{
        @include smallButton("");
        margin-right: .5vh;
        cursor: pointer;
      }
      .goout{
        @include smallButton("on");
        margin-left: .5vh;
        cursor: pointer;
      }
    }
  }
}
