@import "../../styles/scss/base/common.scss";

input {
    padding: 0.2rem 0.75rem;
    border: 1px solid $gray;
    border-radius: 4px;
    font-size: $size-16;
    line-height: 1.5;
    color: $black;
}