@import "../../base/common.scss";

.tag {
  @include tag();
  font-family: "regular";
  max-width: 106rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tags-md .tag {
  font-size: $size-14;
}

.tags-sm .tag {
  max-width: 80rem;
  font-size: $size-10;
}
