@import "../../base/common.scss";

.write-btn {
  position: sticky;
  bottom: 73rem;
  right: 20rem;
  float: right;
  width: 107rem;
  height: 54rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  background-color: #f2b705;
  color: #ffffff;
  border: none;
  font-family: "bold";
  font-size: 18rem !important;
  z-index: 10000;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20rem;
  box-shadow: 0 5px 10px -7px rgb(87, 87, 87);

  svg {
    width: 19rem;
    height: 19rem;
    fill: $white;
    margin-right: 4rem;
    vertical-align: middle;
  }

  a {
    text-decoration: none;
    font-family: "bold";
    font-size: $size-18;
    color: $white;
    vertical-align: middle;
  }
}
