/* 1rem to 1rem */
html {
  font-size: 0.2325581395vw;
  overflow-x: hidden;
}

@media screen and (min-width: 430px) {
  html {
    font-size: 1px;
  }
}
@media screen and (max-width: 429px) {
  html {
    font-size: 0.2325581395vw;
  }
}
/* font */
@font-face {
  font-family: "bold";
  src: url("/src/assets/fonts/Pretendard-Bold.ttf");
}
@font-face {
  font-family: "semiBold";
  src: url("/src/assets/fonts/Pretendard-SemiBold.ttf");
}
@font-face {
  font-family: "medium";
  src: url("/src/assets/fonts/Pretendard-Medium.ttf");
}
@font-face {
  font-family: "regular";
  src: url("/src/assets/fonts/Pretendard-Regular.ttf");
}
/* font size */
/* color palette */
/* radious */
body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: #fcf7e0;
  letter-spacing: -0.7px;
  color: #191919;
}

/* buttons */
/* tags */
/* others */
.street-cat-detail-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20rem;
  font-size: 14rem;
  position: relative;
}
.street-cat-detail-section .page-guide-box {
  font-family: "regular";
  padding: 7rem 0 14rem 0;
  border-bottom: 0.5rem solid #d9d9d9;
}
.street-cat-detail-section .page-guide-box .page-guide {
  font-family: "semiBold";
  font-size: 12rem !important;
  color: #b8bcbf;
}
.street-cat-detail-section .cat-container {
  padding-bottom: 20rem;
  border-bottom: 0.5rem solid #d9d9d9;
}
.street-cat-detail-section .cat-container .cat-name {
  display: block;
  font-family: "bold";
  font-size: 16rem !important;
  margin: 10rem 0;
}
.street-cat-detail-section .cat-container .img-box {
  width: 100%;
  height: 390rem;
  background-color: #d9d9d9;
  border-radius: 5rem;
  margin-bottom: 11rem;
}
.street-cat-detail-section .cat-container .cat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.street-cat-detail-section .cat-container .cat-info .cat-tag {
  display: inline-block;
}
.street-cat-detail-section .cat-container .cat-info .cat-tag span {
  display: inline-block;
  background-color: #fcf7e0;
  font-family: "medium";
  font-size: 14rem !important;
  color: #f27405;
  border-radius: 5rem;
  padding: 6rem 8rem;
  margin-right: 4rem;
}
.street-cat-detail-section .cat-container .cat-info .btn-box {
  display: inline-block;
}
.street-cat-detail-section .cat-container .cat-info .btn-box .like svg {
  width: 25rem;
  height: 25rem;
  fill: #d9d9d9;
  margin-right: 6rem;
}
.street-cat-detail-section .cat-container .cat-info .btn-box .more-btn svg {
  width: 18rem;
  height: 18rem;
  fill: #4c4c4c;
  margin-bottom: 2rem;
}
.street-cat-detail-section .cat-container .cat-content {
  font-family: "medium";
  font-size: 14rem !important;
  line-height: 1.4;
  margin-top: 20rem;
}
.street-cat-detail-section .discovery-container {
  padding: 20rem 0;
  border-bottom: 0.5rem solid #d9d9d9;
}
.street-cat-detail-section .discovery-container .title {
  display: block;
  font-family: "bold";
  font-size: 16rem !important;
  margin-bottom: 7rem;
}
.street-cat-detail-section .discovery-container .location {
  display: block;
  font-family: "medium";
  font-size: 14rem !important;
  color: #b8bcbf;
  margin-bottom: 8rem;
}
.street-cat-detail-section .discovery-container .map {
  width: 100%;
  height: 200rem;
  background-color: #d9d9d9;
  border-radius: 5rem;
}
.street-cat-detail-section .user-container {
  display: flex;
  align-items: center;
  padding: 20rem 0;
}
.street-cat-detail-section .user-container .user-img {
  display: inline-block;
  width: 36rem;
  height: 36rem;
  background-color: #f2b705;
  border-radius: 50%;
  margin-right: 13rem;
}
.street-cat-detail-section .user-container .user-info {
  display: flex;
  flex-direction: column;
}
.street-cat-detail-section .user-container .user-info .user-nickname {
  font-family: "bold";
  font-size: 16rem !important;
  margin-bottom: 3rem;
}
.street-cat-detail-section .user-container .user-info .created-date {
  font-family: "medium";
  font-size: 12rem !important;
  color: #b8bcbf;
}

.separation {
  width: 100%;
  height: 7rem;
  background-color: #f5f5f5;
}

.street-cat-comment-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20rem;
  font-size: 14rem;
  position: relative;
  margin-top: 14rem;
}
.street-cat-comment-section .counts {
  display: flex;
  font-family: "medium";
  font-size: 14rem !important;
  color: #4c4c4c;
}
.street-cat-comment-section svg {
  width: 16rem;
  height: 16rem;
  margin-right: 4rem;
}
.street-cat-comment-section .comment-count {
  margin-right: 14rem;
}
.street-cat-comment-section span {
  margin-right: 4rem;
}

/*# sourceMappingURL=streetCatDetail.css.map */
