@import "../../base/common.scss";

.report-post-box {
  padding: 24rem 20rem;
  border-bottom: 1px solid $lightgray;
  position: relative; /* 오버레이를 위한 상대 위치 설정 */

  &.N::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }

  .image-map {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 384rem;
    height: 180rem;

    .image-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 200rem;
      height: 100%;
      border-radius: $round-10;
      margin-right: 8rem;
      position: relative;
      overflow: hidden;
      justify-content: center;
      border: 1px solid $whitesmoke;
      z-index: 2;

      .missing-cat-image-container {
        width: 180rem;
        height: 180rem;

        img {
          border-radius: $round-5;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    img {
      width: 200rem;
      resize: both;
    }

    .map-container {
      width: 180rem;
      height: 180rem;
      overflow: hidden;
      border-radius: $round-10;
      border: 1px solid $whitesmoke;

      // .map {
      //   height: 100%;
      // }
    }
  }
}

.image-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  .overlay {
    position: relative;
    max-width: 430rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20rem;

    .button-container {
      width: 100%;
      padding: 20rem;
      position: absolute;
      top: 0;

      .close-button {
        display: block;
        font-size: 20rem;
        margin-left: auto;
        border: none;
        outline: none;
        background-color: transparent;
        color: $white;
        cursor: pointer;
      }
    }

    .image-box {
      // height: 390rem;
      width: 390rem;
    }
  }
}
