@import "../../base/common.scss";

.missing-post-button {
  position: sticky;
  bottom: 73rem;
  float: right;
  right: 20rem;
  width: 107rem;
  height: 54rem;
	margin-right: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  background-color: $primary;
  color: $white;
  border: none;
  font-family: "bold";
  font-size: $size-18;
  z-index: 50;
  box-shadow: 0 5px 10px -7px rgb(87, 87, 87);
  cursor: pointer;

  svg {
    margin-right: 6rem;
  }
}
