@import "../../base/common.scss";

.missing-post-head {
  // // min-height: 100vh;
  // height: 100%;
  // // min-height: calc(100vh - 61rem);
  // padding: 20rem;
  // padding-bottom: 64rem;
  background-color: $white;
  margin: 0;
  gap: 2rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  .post-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    margin-left: 8rem;
    gap: 4rem;
    .user-cat-name {
      margin: 0;
      p {
        font-size: $size-14;
        font-family: "bold";
      }
    }

    .created-at {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      p {
        font-family: "medium";
        font-size: $size-10;
        color: $silver;
      }
    }
  }

  .options-icon {
    width: 22rem;
    height: 22rem;
    color: $dimgray;
    margin-left: auto;
    cursor: pointer;
    // z-index: 5;
    // svg {
    //   z-index: 100;
    // }
  }

  .match-check {
    border-radius: $round-5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5rem;
    font-family: "medium";

    p {
      padding: 4rem 9rem;
      font-size: $size-12;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $round-5;
    }

    .match-is-Y {
      width: 100%;
      height: 100%;
      background-color: rgb(0, 158, 79);
      color: white;
    }

    .match-is-N {
      width: 100%;
      height: 100%;
      background-color: black;
      color: white;
    }

    .match-is-- {
      width: 100%;
      height: 100%;
      background-color: $primary;
      color: white;
    }
  }
}
