@import "../../base/common.scss";

.missing-explain {
  font-size: $size-14;
  margin-top: 23rem;
  padding-top: 23rem;
  .column-key {
    font-family: bold;
  }

  .data {
    font-family: "medium";
    color: $gray;
  }
}
