@import "../../base/common.scss";

.community-detail {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20rem;
  padding-bottom: 64rem;

  .category {
    font-family: "semiBold";
    font-size: $size-14;
    color: silver;
    border-bottom: 0.5rem solid $lightgray;
    padding-bottom: 10rem;
  }

  .contents {
    margin-bottom: 28rem;
    .user {
      width: 100%;
      display: flex;
      padding: 13rem 0;
      .avatar {
        width: 32rem;
        height: 32rem;
        border-radius: 50%;
        background-color: $primary;
        margin-right: 9rem;
        flex-shrink: 0;
      }

      .user-info {
        width: 100%;
        display: flex;
        align-items: center;
        .user-details {
          display: flex;
          flex-direction: column;
          .nickname {
            font-family: "bold";
            font-size: $size-14;
            margin-bottom: 5rem;
          }
          .date {
            font-family: "medium";
            font-size: $size-10;
            color: $silver;
          }
        }

        .options-icon {
          width: 22rem;
          height: 22rem;
          color: $dimgray;
          margin-left: auto;
        }
      }
    }

    .post-title {
      display: inline-block;
      font-family: "bold";
      font-size: $size-16;
      line-height: 1.2;
      margin: 7rem 0 13rem 0; // 여기 뭔가...흠
    }

    .image {
      width: 380rem;
      height: 380rem;
      border-radius: $round-5;
      background-color: lightgray;
      overflow: hidden;
    }

    .tags {
      margin-top: 13rem;
      .tag {
        font-size: $size-14;
        @include tag();
        font-family: "regular";
      }
    }
  }

  .post-info {
    display: flex;
    align-items: center;
    gap: 14rem;
    font-family: "medium";
    font-size: $size-14;
    color: $dimgray;
    margin: 20rem 0;
    svg {
      width: 17rem;
      height: 17rem;
    }

    div {
      display: flex;
      align-items: center;
      gap: 4rem;
    }

    .likes {
      svg {
        color: $primary;
      }
    }
  }

  .post-content {
    font-family: "medium";
    font-size: $size-14;
    line-height: 1.5;
    color: $dimgray;
  }
}

.comment-list {
  border-top: 0.5rem solid $lightgray;

  .comment-card {
    padding: 18rem 0;
    border-bottom: 0.5rem solid $lightgray;

    .comment {
      display: flex;

      .avatar {
        width: 32rem;
        height: 32rem;
        background-color: $primary;
        border-radius: 50%;
        margin-right: 9rem;
        flex-shrink: 0;
      }

      .detail {
        .nickname {
          font-family: "bold";
          font-size: $size-14;
          margin-right: 5rem;
        }

        .date {
          font-family: "medium";
          font-size: $size-10;
        }

        .comment-detail {
          margin-top: 5rem;
          color: $dimgray;
          font-family: "medium";
          font-size: $size-14;
          line-height: 1.2;
        }
      }
    }

    &:nth-child(odd) .avatar {
      background-color: $primary;
    }

    &:nth-child(even) .avatar {
      background-color: $lightgray;
    }
  }
}
