@import "../../base/common.scss";

.community-post-write {
  min-height: calc(100vh - 60rem);

  .post-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 41rem;
    min-height: calc(100vh - 60rem);

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .title {
      width: 100%;
      font-family: "bold";
      font-size: $size-20;
      border: none;
      outline: none;
      padding: 14rem 20rem;
      padding-top: 0;

      &::placeholder {
        color: $silver;
      }
    }

    .post-textarea {
      width: 100%;
      height: 19rem;
      font-family: "medium";
      font-size: $size-16;
      line-height: 1.5;
      overflow: hidden;
      margin-bottom: 18rem;
      padding: 0 20rem;
      border: none;
      outline: none;
      resize: none;

      &::placeholder {
        font-family: "bold";
        color: $silver;
      }
    }

    .hash-tag-btn {
      position: relative;
      background-color: transparent;
      border: none;
      font-family: "bold";
      font-size: $size-16;
      color: $dimgray;
      padding-bottom: 22rem;
      cursor: pointer;
    }

    .post-submit {
      @include bigButton("on");
      font-family: "bold";
      margin: 20rem;
    }

    .post-submit[disabled] {
      background-color: $lightgray;
      cursor: not-allowed;
    }
  }

  .hash-tag-wrapper {
    width: 100%;
    padding: 0 20rem;
  }
}
