@import "../../base/common.scss";

.community-container {
  height: 100%;
  // min-height: calc(100vh - 61rem);
  padding: 20rem;
  // padding-bottom: 64rem;
  background-color: $white;

  .category {
    font-family: "semiBold";
    font-size: $size-14;
    color: silver;
    border-bottom: 0.5rem solid $lightgray;
    padding-bottom: 10rem;
  }

  .more {
    font-size: $size-14;
  }

  .write-btn {
    position: sticky;
    bottom: 73rem;
    right: 20rem;
    float: right;
    width: 107rem;
    height: 54rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    background-color: $primary;
    color: $white;
    border: none;
    font-family: "bold";
    font-size: $size-18;
    z-index: 10000;
    cursor: pointer;

    svg {
      margin-right: 6rem;
    }
  }
}
