.layout{
  display: flex;
  justify-content: center;
  align-items: center;
  .Chat{
    width: 430px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
}
