@import "../../base/common.scss";

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 430rem;
  margin-top: 58rem;
  margin-bottom: 60rem;
  background-color: $white;
  
}

.no-header {
    margin-top: 0;
    margin-bottom: 0;
}