@import "../../base/common.scss";

.street-cat-write-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20rem;
  font-size: 14rem;
  position: relative;
  margin-top: 33rem;

  .write-form {
    margin-bottom: 18rem;
  }

  .input-title {
    display: block;
    font-family: "bold";
    font-size: $size-14;
    margin-bottom: 6rem;
  }

  .write-form.name {
    .name-input {
      width: 360rem;
      height: 18rem;
      font-family: "ragular";
      font-size: $size-14;
      border: 1px solid $lightgray;
      border-radius: 5rem;
      padding: 10rem 15rem;
  
      ::placeholder {
        font-family: "ragular";
        font-size: $size-14;
        color: $silver;
      }
    }
  }

  .write-form.gender,
  .write-form.neutered {
    input[type="radio"] {
      display: none;
    }

    input[type="radio"] + label {
      position: relative;
      display: inline-block;
      font-family: "medium";
      font-size: $size-12;
      color: $black;
      background-color: $white;
      border: 1px solid $lightgray;
      border-radius: $rount-30;
      padding: 8rem 14rem 8rem 11rem;
      margin-right: 6rem;

      svg {
        margin-right: 3rem;
      }
    }

    input[type="radio"]:checked + label {
      position: relative;
      display: inline-block;
      font-family: "bold";
      font-size: $size-12;
      color: $white;
      background-color: $primary;
      border: none;
      border-radius: $rount-30;
      padding: 9rem 15rem 9rem 12rem;
      margin-right: 6rem;

      svg {
        margin-right: 3rem;
      }
    }
  }

  .write-form.discovery {
    div {
      display: flex;
      align-items: center;
      width: 284rem;
      height: 14rem;
      font-family: "medium";
      font-size: $size-12;
      color: $dimgray;
      background-color: $whitesmoke;
      border-radius: $round-5;
      padding: 12rem;
    }

    svg {
      width: 16rem;
      height: 16rem;
      fill: $dimgray;
      margin-right: 10rem;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"] + label {
      display: flex;
      align-items: center;
      width: 22rem;
      height: 22rem;
      background-color: $primary;
      border-radius: $round-5;
      position: absolute;
      right: 15%;

      svg {
        fill: $white;
        margin: 0 5rem;
      }
    }

    input[type="checkbox"]:checked + label {
      display: flex;
      align-items: center;
      width: 22rem;
      height: 22rem;
      background-color: $primary;
      border-radius: $round-5;
      position: absolute;
      right: 15%;

      svg {
        fill: $white;
        margin: 0 5rem;
      }
    }

    .check-text {
      font-family: "regular";
      position: absolute;
      right: 9%;
    }

  }

  .write-form.location {
    div {
      display: flex;
      align-items: center;
      width: 284rem;
      height: 14rem;
      font-family: "medium";
      font-size: $size-12;
      color: $silver;
      background-color: $whitesmoke;
      border-radius: $round-5;
      padding: 12rem;
    }

    svg {
      width: 16rem;
      height: 16rem;
      fill: $dimgray;
      margin-right: 10rem;
    }
  }

  .write-form.description {
    textarea {
      width: 100%;
      font-family: "medium";
      font-size: $size-16;
      margin-bottom: 30rem;
      border: none;
      min-height: 100rem;
      line-height: 1.3;
    }
  }
}
