@import "../../base/common.scss";

.street-cat-detail-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20rem;
  font-size: 14rem;
  position: relative;
  // margin-top: 33rem;

  .page-guide-box {
    font-family: "regular";
    padding: 7rem 0 14rem 0;
    border-bottom: 0.5rem solid $lightgray;

    .page-guide {
      font-family: "semiBold";
      font-size: $size-12;
      color: $silver;
    }
  }

  .cat-container {
    padding-bottom: 20rem;
    border-bottom: 0.5rem solid $lightgray;

    .cat-name {
      display: block;
      font-family: "bold";
      font-size: $size-16;
      margin: 10rem 0;
    }

    .img-box {
      width: 100%;
      height: 390rem;
      background-color: $lightgray;
      border-radius: 5rem;
      margin-bottom: 11rem;
    }

    .cat-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cat-tag {
        display: inline-block;

        span {
          @include tag;
        }
      }
  
      .btn-box {
        display: inline-block;
      
        .like svg {
          width: 25rem;
          height: 25rem;
          fill: $lightgray;
          margin-right: 6rem;
        }
    
        .more-btn svg {
          width: 18rem;
          height: 18rem;
          fill: $dimgray;
          margin-bottom: 2rem;
        }
      }
    }

    .cat-content {
      font-family: "medium";
      font-size: $size-14;
      line-height: 1.4;
      margin-top: 20rem;
    }
  }

  .discovery-container {
    padding: 20rem 0;
    border-bottom: 0.5rem solid $lightgray;;
    
    .title {
      display: block;
      font-family: "bold";
      font-size: $size-16;
      margin-bottom: 7rem;
    }

    .location {
      display: block;
      font-family: "medium";
      font-size: $size-14;
      color: $silver;
      margin-bottom: 8rem;
    }

    .map {
      width: 100%;
      height: 200rem;
      background-color: $lightgray;
      border-radius: $round-5;
    }
  }

  .user-container {
    display: flex;
    align-items: center;
    padding: 20rem 0;
    
    .user-img {
      display: inline-block;
      width: 36rem;
      height: 36rem;
      background-color: $primary;
      border-radius: 50%; 
      margin-right: 13rem;
    }
    
    .user-info {
      display: flex;
      flex-direction: column;

      .user-nickname {
        font-family: "bold";
        font-size: $size-16;
        margin-bottom: 3rem;
      }

      .created-date {
        font-family: "medium";
        font-size: $size-12;
        color: $silver;
      }
    }
  }
}

.separation {
  width: 100%;
  height: 7rem;
  background-color: $whitesmoke;
}

.street-cat-comment-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20rem;
  font-size: 14rem;
  position: relative;
  margin-top: 14rem;

  .counts {
    display: flex;
    font-family: "medium";
    font-size: $size-14;
    color: $dimgray;
  }

  svg {
    width: 16rem;
    height: 16rem;
    margin-right: 4rem;
  }

  .comment-count {
    margin-right: 14rem;
  }

  span {
    margin-right: 4rem;
  }
}