@import "../../base/common.scss";

.street-cat-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20rem;
  font-size: 14rem;
  position: relative;

  .street-cat-nav {
    font-family: "regular";
    padding: 7rem 0 14rem 0;
    border-bottom: 0.5rem solid $lightgray;
  
    ul {
      display: flex;
      justify-content: space-between;
    }
  
    li {
      position: relative;
  
      &.active {
        font-family: "bold";
        color: $primary;
      }
  
      .nav-bar {
        display: block;
        width: 100%;
        height: 2rem;
        background-color: $primary;
        position: absolute;
        bottom: -15rem;
      }
    }
  }
  
  .title {
    font-family: "bold";
    font-size: $size-16;
    padding: 14rem 0;
  }
  
  .street-cat-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  
    a {
      text-decoration: none;
      color: $black;
    }
  }
  
  .test-box {
    width: 190rem;
    height: 190rem;
    background-color: $lightgray;
    border-radius: $round-5;
    position: relative;
  
    svg {
      width: 25rem;
      height: 25rem;
      fill: $dimgray;
      position: absolute;
      right: 10rem;
      bottom: 8rem;
  
      &.active {
        fill: $primary;
      }
    }
  }
  
  .street-cat-info {
    margin: 10rem 0 18rem 0;
  
    span {
      display: block;
      
    }
  
    .name {
      font-family: "bold";
      font-size: $size-14;
      margin-bottom: 4rem;
    }
    .date {
      font-family: "medium";
      font-size: $size-10;
      color: $silver;
    }
  }
}
