@import "../../base/common.scss";

.street-cat-detail-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding: 0 20rem;
  font-size: 14rem;
  position: relative;
  // margin-top: 33rem;

  .page-guide-box {
    font-family: "regular";
    padding: 7rem 20rem 14rem 20rem;
    border-bottom: 0.5rem solid $lightgray;

    .page-guide {
      font-family: "semiBold";
      font-size: $size-12;
      color: $silver;
    }
  }

  .carousel-container {
    background-color: $white;

    img {
      object-fit: cover;
    }
  }
}

.separation {
  width: 100%;
  height: 7rem;
  background-color: $whitesmoke;
}

.street-cat-comment-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding: 0 20rem;
  font-size: 14rem;
  position: relative;
  margin-top: 14rem;

  .counts {
    display: flex;
    font-family: "medium";
    font-size: $size-14;
    color: $dimgray;
    padding: 0 20rem;
  }

  svg {
    width: 16rem;
    height: 16rem;
    margin-right: 4rem;
  }

  .comment-count {
    margin-right: 14rem;
  }

  span {
    margin-right: 4rem;
  }

  .street-cat-comment {
    display: flex;
    padding: 20rem 0;
    border-bottom: 0.5rem solid $lightgray;
    position: relative;

    img {
      width: 32rem;
      height: 32rem;
      border-radius: 50%;
      margin-right: 9rem;
    }

    .user-info {

      .user-profile {
        margin-bottom: 8rem;

        .nickname {
          font-family: "bold";
          font-size: $size-12;
          margin-right: 4rem;
        }

        .date {
          font-family: "medium";
          font-size: $size-10;
          color: $silver;
        }
      }
    }

    .content {
      font-family: "medium";
      font-size: $size-14;
      color: $dimgray;
      line-height: 1.4;
    }

    .comment-more {
      position: absolute;
      right: 0;
      margin: 0;
      top: 26rem;
      color: $silver;
    }
  }
  .street-cat-comment:last-child {
    border: none;
    margin-bottom: 70rem;
  }
}

.street-cat-comment-list {
  padding: 0 20rem;
}