@import "../../base/common.scss";
@mixin font ($size, $color){
  color: $color;
  font-size: $size;
}


.background{
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::-webkit-scrollbar{
    display: none;
  }
  .postsBox{
    border-bottom: .5px solid $silver;
    height: 11vh;
    display: flex;
    width: 85%;
    
    .postsContents{
      display: flex;
      flex-direction: column;
      height: auto;
      &.withImg{
        width:75%;
      }
      &.withoutImg{
        width:100%;
      }
      .title{
        @include font(16px, black);
        font-family: "bold";
        line-height: 1.2em;
        margin: 0;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 20em;
        overflow: hidden;
        height: 30%;
        padding: .5em 0;
      }
      .contents{
        @include font(14px, $black);
        font-family: "medium";
        line-height: 1.2em;
        width: 90%;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 35%;
        
      }
      #time{
        @include font(12px, $silver);
        font-size: "medium";
        max-height: 1.7em;
        margin: 0;
        height: 20%;
        position: relative;
        bottom: -1.2vh;
      }
    }
    .postsImg{
      width: 9vh;
      height: 9vh;
      margin-left: 0.5vh;
      border-radius: .5vh;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1vh;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
      }
    } 
  }
  .nolike{
    height: 40vh;
    margin-top: 15vh;
  }
}
