@charset "UTF-8";
/* 1rem to 1rem */
html {
  font-size: 0.2325581395vw;
  overflow-x: hidden;
}

@media screen and (min-width: 430px) {
  html {
    font-size: 1px;
  }
}
@media screen and (max-width: 429px) {
  html {
    font-size: 0.2325581395vw;
  }
}
/* font */
@font-face {
  font-family: "bold";
  src: url("/src/assets/fonts/Pretendard-Bold.ttf");
}
@font-face {
  font-family: "semiBold";
  src: url("/src/assets/fonts/Pretendard-SemiBold.ttf");
}
@font-face {
  font-family: "medium";
  src: url("/src/assets/fonts/Pretendard-Medium.ttf");
}
@font-face {
  font-family: "regular";
  src: url("/src/assets/fonts/Pretendard-Regular.ttf");
}
/* font size */
/* color palette */
/* radious */
body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: #fcf7e0;
  letter-spacing: -0.7px;
  color: #191919;
}

/* buttons */
/* tags */
/* others */
.login-container {
  height: 100vh;
  background: #ffffff;
}
.login-container .login-header {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 21rem !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 17rem;
  font-weight: bold;
}
.login-container .login-header svg {
  margin-left: 20rem;
}
.login-container .login-header h1 {
  color: #4c4c4c;
  margin-right: 44rem;
  text-align: center;
  flex: 1;
}
.login-container .login-header .back-button {
  cursor: pointer;
}
.login-container .login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4c4c4c;
  font-size: 32rem !important;
  margin-top: 50rem;
  height: auto;
}
.login-container .login-content .error-message {
  margin-top: 10rem;
  margin-bottom: 10rem;
  color: red;
  font-size: 11rem !important;
}
.login-container .login-content .input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20rem;
}
.login-container .login-content .input-field input {
  width: 340rem;
  padding: 7rem;
  margin: 0 auto;
}
.login-container .login-content .input-field input:focus {
  outline: none;
  border: 1px solid #f2b705;
}
.login-container .login-content .input-field input::placeholder {
  color: #bababa;
  font-size: 14rem !important;
}
.login-container .login-content .login-btn {
  width: 200rem;
  height: 45rem;
  font-family: "Pretendard-Bold";
  font-size: 16rem !important;
  text-align: center;
  line-height: 1;
  border-radius: 5rem;
  color: #ffffff;
  border: 0;
  background-color: #f2b705;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20rem auto 0;
  width: 340rem;
  padding: 12rem;
}
.login-container .login-content .login-btn svg {
  margin-right: 10rem;
}
.login-container .login-content .login-btn a {
  text-decoration: none;
  color: black;
  flex-grow: 1;
}
.login-container .login-content .login-btn a:hover {
  text-decoration: none;
}
.login-container .login-content .login-btn.kakao {
  background-color: #FEE500;
  color: black;
}
.login-container .login-content .login-btn.google {
  background-color: white;
  color: black;
  border: 1rem solid #f2b705;
}
.login-container .login-content .check-field .auto-login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 11rem !important;
}
.login-container .login-content .check-field .auto-login input {
  margin-right: 5px; /* 체크박스와 텍스트 사이의 간격 조절 */
}

/*# sourceMappingURL=login.css.map */
