@import "../../base/common.scss";

.discovery-container {
  padding: 20rem 0;
  border-bottom: 0.5rem solid $lightgray;;
  
  .title {
    display: block;
    font-family: "bold";
    font-size: $size-16;
    margin-bottom: 7rem;
  }

  .location {
    display: block;
    font-family: "medium";
    font-size: $size-14;
    color: $silver;
    margin-bottom: 8rem;
  }

  .map {
    width: 100%;
    height: 200rem;
    background-color: $lightgray;
    border-radius: $round-5;
  }
}