@import "../../base/common.scss";

.add-image-section {
  display: flex;
  padding: 0 20rem;
  font-size: 14rem;
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  transition: ease-in-out;

  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;

  .image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 16rem;
  
    .add-image-btn {
      width: 66rem;
      height: 66rem;
      background: transparent;
      border: 2px dashed $silver;
      border-radius: $round-5;
      margin-right: 8rem;
    }
  
    svg {
      width: 24rem;
      height: 24rem;
      fill: $silver;
    }
  }

  .img-box {
    width: 66rem;
    width: 66rem;
    background-color: $lightgray;
    border-radius: $round-5;
    margin-right: 8rem;
    position: relative;

    .img-delete-btn {
      width: 15rem;
      height: 15rem;
      background-color: transparent;
      border: none;
      position: absolute;
      top: -6rem;
      right: -5rem;

      img {
        width: 15rem;
        height: 15rem;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}