@import "../../base/common.scss";

.event-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 130rem; // 여기 주의 할것

  .category {
    font-family: "semiBold";
    font-size: $size-14;
    color: silver;
    border-bottom: 0.5rem solid $lightgray;
    margin: 0 20rem;
    padding-bottom: 10rem;
  }
}
