/* 1rem to 1rem */
html {
  font-size: calc(1vw / 4.3);
  overflow-x: hidden;
}

@media screen and (min-width: 430rem) {
  html {
      font-size: 1rem;
  }
}

@media screen and (max-width: 429rem) {
  html {
      font-size: calc(1vw / 4.3);
  }
}

/* font */
// 디자인에 사용된 폰트만 적용
// TODO: 절대 경로 수정 필요
@font-face {
  font-family: "bold";
  src: url("../../../assets/fonts/Pretendard-Bold.ttf");
}

@font-face {
  font-family: "semiBold";
  src: url("../../../assets/fonts/Pretendard-SemiBold.ttf");
}

@font-face {
  font-family: "medium";
  src: url("../../../assets/fonts/Pretendard-Medium.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../../../assets/fonts/Pretendard-Regular.ttf");
}

/* font size */
$size-32: 32rem !important;
$size-24: 24rem !important;
$size-19: 19rem !important;
$size-16: 16rem !important;
$size-15: 15rem !important;
$size-14: 14rem !important;
$size-12: 12rem !important;
$size-10: 10rem !important;

/* color palette */
// yellow color
$primary: #F2B705;
$secondary: #F27405;
$orange: #F29F05;
$lemon: #F6E58D;
$pale: #FCF7E0;

// achromatic color
$black: #191919;
$dimgray: #4C4C4C;
$gray: #888B90;
$silver: #B8BCBF;
$lightgray: #D9D9D9;
$whitesmoke: #F5F5F5;
$white: #FFFFFF;

/* radious */
$round-5: 5rem;
$round-10: 10rem;

/* buttons */
@mixin smallButton($active) {
  width: 121rem;
  height: 44rem;
  font-family: "Pretendard-Bold";
  font-size: $size-16;
  text-align: center;
  line-height: 1;
  border-radius: $round-5;
  padding: 13rem;
  @if ($active == 'on') {
    background-color: $primary;
    color: $white;
    border: 0;
  } @else {
    background-color: $white;
    color: $primary;
    border: $primary solid 2rem;
  }
}

@mixin bigButton($active) {
  width: 390rem;
  height: 50rem;
  font-family: "Pretendard-Bold";
  font-size: $size-16;
  text-align: center;
  line-height: 1;
  border-radius: $round-5;
  padding: 16rem;
  color: $white;
  border: 0;
  @if ($active == 'on') {
    background-color: $primary;
  } @else {
    background-color: $lightgray;
    color: $white;
  }
}

/* tags */
@mixin tag {
  display: inline-block;
  background-color: $pale;
  font-family: "Pretendard-Regular";
  color: $secondary;
  border-radius: $round-5;
  padding: 6rem 8rem;
  margin-right: 4rem;
}

/* others */
// IR
@mixin blind {
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin: -1rem;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

// ... 처리
@mixin ellipsis($lines: 1) {
  @if ($lines==1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
