@import "../../base/common.scss";

.images-container {
  position: relative;
  padding-left: 20rem;
  overflow: hidden;
  width: 100%;

  .add-images {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 9rem;
    height: 110rem;
    margin: 20rem 0;
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    .upload-label {
      width: 90rem;
      height: 90rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2rem dashed $silver;
      border-radius: $round-5;
      flex-shrink: 0;
      cursor: pointer;

      input {
        display: none;
      }

      .add-icon {
        width: 24rem;
        height: 24rem;
        color: $silver;
      }
    }

    .image-list {
      display: flex;
      gap: 9rem;
      border-radius: $round-5;

      .image-preview {
        position: relative;
        width: 90rem;
        height: 90rem;
        overflow: visible;

        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          border-radius: $round-5;
        }

        .delete-button {
          position: absolute;
          top: -7rem;
          right: -7rem;
          width: 20rem;
          height: 20rem;
          z-index: 100;
          background-color: transparent;
          border: none;
        }
      }

      &:last-child {
        margin-right: 20rem;
      }
    }
  }

  .image-error {
    display: inline-block;
    font-family: "medium";
    font-size: $size-12;
    color: #d32f2f;
    padding-bottom: 20rem;
  }
}
