@import "../../base/common.scss";

.overlay {
  visibility: visible;
  position: fixed;
  top: 0;
  width: 430rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  transition: background-color 0.3s ease;

  .button-container {
    visibility: visible;
    width: 100%;
    padding: 20rem;

    .close-button {
      display: block;
      font-size: 20rem;
      margin-left: auto;
      border: none;
      outline: none;
      background-color: transparent;
      color: $white;
      cursor: pointer;
    }

    &.hidden {
      display: none;
    }
  }

  &.hidden {
    background-color: transparent;
    pointer-events: none;
  }

  .menu {
    width: 100%;
    max-width: 430rem;
    min-height: 120rem;
    background-color: $white;
    position: fixed;
    bottom: 0;
    padding: 30rem 22rem;
    border-radius: 15rem 15rem 0 0;
    z-index: 1000000;
    gap: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;

    &.show {
      transform: translateY(0);
    }

    &.hide {
      transform: translateY(100%);
    }

    li {
      width: 100%;
      height: 30rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "medium";
      font-size: $size-16;
      cursor: pointer;

      &:hover {
        color: $secondary;
      }

      &.seleted {
        color: $secondary;
      }
    }

    .delete,
    .logout {
      color: #d32f2f;
    }
  }
}
