@import "../../base/common.scss";

.sort-button {
  display: flex;
  align-items: center;
  background-color: $white;
  border: none;
  font-family: "regular";
  font-size: $size-12;
  color: $dimgray;
  gap: 1rem;
  padding: 5rem 8rem;
  border: 0.5px solid $silver;
  border-radius: 50rem;
  cursor: pointer;

  &.is-open {
    pointer-events: none;
  }
}
