@import "../base/common.scss";

@mixin font ($size, $color){
  color: $color;
  font-size: $size;
}

.myPage{
  width:100vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 1999;
    width: 100vw;

    #title{
      margin-top: 3vh;
      @include font($size-14, $silver);
      font-family: "bold";
      border-bottom: .5px solid $silver;
      width: 80vw;
      height: 3vh;
    }
  }
}