@import "../../base/common.scss";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;

  .spinner {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    border: 3px solid;
    border-color: $primary transparent $primary $primary;
    opacity: 0.7;
    animation: spin 1s linear infinite;
  }
}
