// @import "../../../base/common.scss";

// .info-container {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   background: rgb(255, 255, 255);

//   .circle-container {
//     width: 100rem;
//     height: 100rem;
//     margin: 20rem 0 20rem 20rem;

//     .circle {
//       width: 100%;
//       height: 100%;
//       border-radius: 50%;
//       background: $lightgray;
//     }
//   }

//   .nickname-container {
//     display: flex;
//     flex-direction: column;
//     margin-left: 20rem;

//     .nickname-text {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       margin-top: 20rem;

//       p {
//         font-size: $size-16;
//         font-weight: bold;
//       }

//       svg {
//         cursor: pointer;
//         width: 30rem;
//         height: 20rem;
//         margin-left: 180rem;
//         background: $lightgray;
//         color: $dimgray;
//         padding: 1rem;
//         border-radius: 4rem;
//         margin-top: 10rem;
//       }
//     }

//     .change-profile-btn {
//       margin-right: 200rem;

//       button {
//         cursor: pointer;
//         display: flex;
//         justify-content: center;
//         align-items: center;

//         @include smallButton(on);
//         height: 10rem;
//         width: 74rem;
//         font-size: $size-11;
//         padding: 13rem;
//         margin: 5rem auto;
//       }
//     }
//   }
// }


@import "../../../base/common.scss";

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(255, 255, 255);
  padding: 20rem;

  .nickname-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 17rem;

    .nickname-text {
      display: flex;
      align-items: center;
      gap: 3rem;
      margin-bottom: 8rem;

      span {
        font-size: $size-19;
        word-break: break-all;
      }

      span:first-of-type {
        font-family: "bold";
      }

      span:last-of-type {
        color: $dimgray;
        font-family: "medium";
        font-size: 17rem;
      }

      p {
        font-size: $size-16;
        font-weight: bold;
        word-break: break-all;
      }
    }

    .change-profile-btn {
      button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $size-12;
        background-color: $whitesmoke;
        border: none;
        padding: 5rem 9rem;
        border-radius: $round-5;
        font-family: "medium";

        // 원하시면 hover 할때 애니메이션 넣으셔도 됩니다.
        &:hover {
          background-color: $primary;
          color: $white;
        }

        // @include smallButton(on);
        // height: 10rem;
        // width: 71rem;
        // font-size: $size-11;
        // padding: 13rem;
      }
    }
  }

  .settings-button {
    font-size: 22rem;
    background-color: transparent;
    border: none;
    color: $dimgray;
    cursor: pointer;
  }
}
