@import "../../../base/common.scss";

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(255, 255, 255);
  padding: 20rem;

  .nickname-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 17rem;

    .nickname-text {
      display: flex;
      align-items: center;
      gap: 3rem;
      margin-bottom: 8rem;

      span {
        font-size: $size-19;
        word-break: break-all;
      }

      span:first-of-type {
        font-family: "bold";
      }

      span:last-of-type {
        color: $dimgray;
        font-family: "medium";
        font-size: 17rem;
      }

      p {
        font-size: $size-16;
        font-weight: bold;
        word-break: break-all;
      }
    }

    .change-profile-btn {
      button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $size-12;
        background-color: $whitesmoke;
        border: none;
        padding: 5rem 9rem;
        border-radius: $round-5;
        font-family: "medium";

        // 원하시면 hover 할때 애니메이션 넣으셔도 됩니다.
        &:hover {
          background-color: $primary;
          color: $white;
        }

      }
    }
  }

  .settings-button {
    font-size: 22rem;
    background-color: transparent;
    border: none;
    color: $dimgray;
    cursor: pointer;
  }
}
