@import "../../../base/common.scss";

.tab-container {

  /*
  display: flex;
  flex-direction: column;
  
  .tab-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    align-items: center;
    
    button { 
      font-family: "medium";
      cursor: pointer;
      padding: 10rem 20rem;
            background: none;
            border: none;
            border-bottom: 2px solid transparent;
            font-size: $size-16;
            width: 200rem;
        }
    
        button.active-btn {
          border-bottom: 2px solid #ffcc00;
        }
      }
      
      .tab-content {
        padding: 20rem;
        background-color: aqua;
        font-size: $size-16;
  */

  width: 100%;
  max-width: 430rem;
  display: flex;
  flex-direction: column;

  .tab-header {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 20rem;

    .tab-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.5px solid $lightgray;

      button {
        flex: 1;
        cursor: pointer;
        padding: 10rem 20rem;
        background: none;
        border: none;
        border-bottom: 2px solid transparent;
        font-size: $size-14;
        font-family: "regular";
      }

      button.active-btn {
        border-bottom: 2px solid #ffcc00;
      }
    }
  }

  .tab-content {
    padding: 20rem;
    // background-color: aqua;
    font-size: $size-16;

    .interest-posts{
      height: 60vh;
      width: 100%;
      overflow-y: auto;
      padding: 1rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; // 추가: 콘텐츠가 위쪽으로 붙도록 설정
      align-items: stretch; // 추가: 내부 아이템들이 너비를 꽉 채우도록 설정
    }
  }
}
