@import "../../../base/common.scss";

.setting-nickname-container{
  overflow-y: hidden;
  height: 100vh;
  background: $white;

  
  .title{
    font-size: $size-14;
    font-family: "medium";
    margin-left: 30rem;
    
    input {
      border: node;
      width: 370rem;
      
      &:focus {
        outline: none;
        border: 1px solid $primary;
      }

      &::placeholder {
        color: #bababa;
        font-size: $size-14;
        font-family: medium;
        
      }
    }

    // .error-message {
    //   margin-top: 10rem;
    //   margin-bottom: 10rem;
    //   color: red;
    //   font-size: $size-11;
    // }
    
    p{
      margin: 10rem 0 10rem 0;
    }
  }

  .complete-btn {
    @include midiumButton(on);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20rem auto 0;
    width: 370rem;
    padding: 12rem;
    cursor: pointer;
  }
}